<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <title>About Us</title>
</head>
<body>
   {{>navbar}}
    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="thapa" title="Khushal" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span>, Youtuber and a Gamer</h1>
                        <a href="https://www.linkedin.com/in/khushalrdhumal24/" target="_khushu"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- footer -->
    <footer >
        <p >Thank You For Visiting😎 </p>
    </footer>
</body>
</html>